<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conteudos</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container2">
            <div class="TituloMain"><h1>Conteúdos para o seu bem-estar</h1></div>
            <div class="conteudo">
                <h2>Tenha uma alimentação saudável</h2>
                <a href="/alimentacao"><img class="imagem" src="../static/imagens/healthfood.jpg"></a>
            </div>
            <div class="conteudo">
                <h2>Pratique exercícios para o seu bem</h2>
                <a href="/exercicio"><img class="imagem" src="../static/imagens/exercise.jpg"></a>
            </div>
            <div class="conteudo">
                <h2>A importância de ter bons hábitos</h2>
                <a href="/habitos"><img class="imagem" src="../static/imagens/habits.jpg"></a>
            </div>
        </div>
        <div class="container2">
            <div class="conteudo">
                <h2>Melhorando sua saúde mental</h2>
                <a href="/saudeMental"><img class="imagem" src="../static/imagens/mentalHealth.jpg"></a>
            </div>
            <div class="conteudo">
                <h2>A importância do lazer</h2>
                <a href="/lazer"><img class="imagem" src="../static/imagens/picnic.jpg"></a>
            </div>
            <div class="conteudo">
                <h2>Turbine o seu sistema imunológico</h2>
                <a href="/sistemaImunologico"><img class="imagem" src="../static/imagens/SI.png"></a>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../static/vanilla-tilt.js"> </script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".imagem"));
    </script>
</body>
</html>