<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link href="static/style.css" rel="stylesheet" type="text/css">
  <title>Contato status</title>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
  <header>
    <nav>
        <div class="logoG">
            <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
            <a class="logo" href="/">Lykke</a>
        </div>
        <ul class="nav-list">
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/conteudo">Conteúdo</a></li>
            <li><a href="/contact">Contato</a></li>
        </ul>
    </nav>
</header>
  <main>
    <div class="subMainContato">
      <div class="get_contact">
        <h1 class="textGetContact">Resultado envio dos dados</h1>
        <hr/>
        <h2 class="msg">{{ msg }}</h2>
        <hr/>
        <br/>
        <div class="msgVoltar">|| <a href="/"> Voltar ao início </a> ||</div>
        <div class="msgVoltar">|| <a href="/contact"> Voltar a página de contato</a> ||</div>
      </div>
    </div>
</main>
</body>
</html>