<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazer Cultural</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="subMain2">
            <div class="tituloLazerCultural"><h1>A importância do lazer cultural no bem-estar</h1></div>
            <u><i><a href="/recomendacaoCultural" style="margin-left: 11.5%; font-size: 1.4vw;">Clique aqui para conferir nossas recomendações</a></i></u>
            <div class="textoLazer">
                <p>O lazer cultural pode ser definido como as diversas atividades culturais que o ser humano vivencia com o objetivo de se entreter, absorver conhecimento, buscar prazer estético, entre outras experiências que proporcionam satisfação. São várias as possibilidades: teatros, museus, galerias de arte etc. Cultura e entretenimento estão diretamente relacionados ao estado de bem-estar que tanto buscamos. São atividades que podem aumentar o nível do neurotransmissor serotonina e do hormônio ocitocina, que estão associados ao bem-estar psíquico e, consequentemente, à saúde física.</p>
            </div>
            <div class="opcoesMain">
                <div class="opcoes">
                    <div class="textoOpcoes">
                        <p class="TituloOpcoesLazer">Museus</p>
                        <p class="opcoesLazer">Os museus desempenham um papel importante na sociedade. São ferramentas importantes para a preservação da memória cultural de um povo e são responsáveis ​​pelo seu patrimônio material ou imaterial. São espaços abertos a todos os públicos e que divulgam memórias coletivas através de seus objetos e informações.</p>
                    </div>
                    <img class="imagemOpcoes" src="../static/imagens_lazer/museu.png">
                </div>
                <div class="opcoes">
                    <img class="imagemOpcoes" src="../static/imagens_lazer/teatro.png">
                    <div class="textoOpcoes">
                        <p class="TituloOpcoesLazer">Teatro</p>
                        <p class="opcoesLazer">O teatro é um meio de grande importância no cenário cultural. É uma forma de arte em que um ator ou conjunto de atores, interpreta uma história ou atividades para o público em um determinado lugar, utilizando muitas vezes recursos como iluminação, cenários, figurinos etc.</p>
                        <p>O teatro forma pessoas mais expressivas, respeitosas, confiantes, além de colaborar bastante com a formação de pessoas menos preconceituosas, mais tolerantes e com uma visão mais inteligente sobre tudo.
                            Galeria de arte</p>
                    </div>
                </div>
                <div class="opcoes">
                    <div class="textoOpcoes">
                        <p class="TituloOpcoesLazer">Galeria de arte</p>
                        <p class="opcoesLazer">As galerias de arte são espaços em que se exibem obras de arte de artistas conhecidos, além de ser palco para impulsionar a carreira de jovens artistas contemporâneos. Por vezes, o trabalho de recuperação de um artista ou movimento artístico pode estar ao nível do trabalho de um museu.  Ademais, as galerias de arte são ambientes muito agradáveis, gerando uma sensação de satisfação no público.</p>
                    </div>
                    <img class="imagemOpcoes" src="../static/imagens_lazer/galeria.png">
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>