<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazer ao ar livre</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="subMain2">
                <div class="tituloLazerArLivre"><h1>Lazer ao ar livre</h1></div>
                <u><i><a href="/recomendacaoParques" style="font-size: 1.4vw; margin-top: 1%; margin-left: 14%;">Clique aqui para conferir nossas recomendações</a></i></u>
                <div class="textoLazerArLivre">
                    <strong><p>Confira algumas opções de lazer ao ar livre para começar a praticar.</p></strong>
                </div>

                <div class="opcoesMain">
                    <div class="opcoes">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">1 - Caminhar</p>
                            <p class="opcoesLazer">A caminhada, além de ser uma excelente atividade física, ajuda a você estar em contato com outros ambientes, ainda mais se sua opção for um lugar arborizado, fresco e com uma bela paisagem. Esqueça as preocupações e curta o momento.</p>
                        </div>
                        <img class="imagemOpcoes" src="../static/imagens_lazer/caminhada.png">
                    </div>

                    <div class="opcoes">
                        <img class="imagemOpcoes" src="../static/imagens_lazer/fotografia.png">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">2 - Fotografar</p>
                            <p class="opcoesLazer">Há muitas coisas bonitas por aí que estão esperando para serem registradas por uma lente de uma câmera. A fotografia é uma boa forma de lazer, pois além de relaxar, ajuda você a procurar novas óticas sobre o meio que vive, além de gerar bons registros para ficarem guardados para sempre.</p>
                        </div>
                    </div>

                    <div class="opcoes">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">3 - Praticar esportes</p>
                            <p class="opcoesLazer">Além de fazer a mente relaxar, praticar esportes é uma boa solução para quem busca lazer e necessita fazer uma atividade física. Muitos deles são feitos em equipe, o que ajuda a fazer novos amigos além de poder incentivar amigos e familiares a participarem também.
                                Você pode optar por esportes que são praticados individualmente, mas que também servem como válvula de escape para o cotidiano, como a natação, corrida, musculação, entre outros.</p>
                        </div>
                        <img class="imagemOpcoes" src="../static/imagens_lazer/esportes.png">
                    </div>

                    <div class="opcoes">
                        <img class="imagemOpcoes" src="../static/imagens_lazer/pesca.png">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">4 - Pescar</p>
                            <p class="opcoesLazer">A pescaria é uma prática bastante comum no Brasil. Além de precisar de concentração, ela é relaxante, pois te deixa em contato direto com a natureza. Você pode praticá-la em mares e rios, ou até mesmo em pesque-pague, onde é possível levar o prêmio para casa ou devolvê-lo para a natureza.</p>
                        </div>
                    </div>

                    <div class="opcoes">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">5 - Andar de Bicicleta</p>
                            <p class="opcoesLazer">Sentir o vento no rosto e o corpo livre são apenas algumas das boas sensações que andar de bicicleta proporciona. A atividade – que pode ser feita tanto individualmente quanto em grupo – trabalha todo o corpo, dando mais disposição e beneficiando quem quer perder gordura. E como se isso não fosse o bastante, substituir a bicicleta pelo carro no dia a dia também ajuda a reduzir o congestionamento e a emissão de gás carbônico na atmosfera.</p>
                        </div>
                        <img class="imagemOpcoes" src="../static/imagens_lazer/ciclismo.png">
                    </div>

                    <div class="opcoes">
                        <img class="imagemOpcoes" src="../static/imagens_lazer/yoga.png">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">6 - Yoga</p>
                            <p class="opcoesLazer">A palavra "yoga" tem origem no sânscrito (Yuj) e significa "unir'' e "integrar". A atividade harmoniza o corpo com a mente e a respiração através de técnicas de respiração, posturas de yoga e meditação. Além disso, a yoga trabalha força, equilíbrio, músculos e alongamento, trazendo bem-estar, paz interior e qualidade de vida.</p>
                        </div>
                    </div>

                    <div class="opcoes">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">7 - Slackline</p>
                            <p class="opcoesLazer">Outra prática que vem ganhando muitos adeptos, principalmente em parques – a atividade parece que foi feita para o contato com a natureza. No início não é fácil ir do começo ao fim da fita sem cair, mas a diversão está justamente em tentar! Dentre os benefícios estão a melhora do equilíbrio, postura e concentração, além de aumentar a força e diminuir o estresse.</p>
                        </div>
                        <img class="imagemOpcoes" src="../static/imagens_lazer/slackline.png">
                    </div>

                    <div class="opcoes">
                        <img class="imagemOpcoes" src="../static/imagens_lazer/treinamentoFuncional.png">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">8 - Treinamento funcional</p>
                            <p class="opcoesLazer">Esse tipo de exercício trabalha diversas partes do corpo em pouco tempo, sendo uma das práticas mais indicadas para quem tem uma rotina apertada ou não tem como se dedicar aos exercícios por muito tempo. Seus principais benefícios são o condicionamento físico, a coordenação motora e a resistência, mas existem algumas precauções que devem ser seguidas para que a prática não acabe piorando a saúde em vez de melhorá-la.</p>
                        </div>
                    </div>

                    <div class="opcoes">
                        <div class="textoOpcoes">
                            <p class="TituloOpcoesLazer">9 - Piquenique</p>
                            <p class="opcoesLazer">Delicioso e divertido, um piquenique tem o poder de estreitar laços, aumentar o contato com a natureza e ainda estimular a autonomia infantil na hora da alimentação. Repleto de benefícios e fácil de fazer, o piquenique é uma escolha certeira!</p>
                        </div>
                        <img class="imagemOpcoes" src="../static/imagens_lazer/picnicL.png">
                    </div>
                </div>
        </div>
    </main>
    
</body>
</html>