<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lazer</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="subMain2">
            <h1 class="tituloLazer">A importância do lazer</h1>
            <div class="textoLazer">
                <p>O lazer é uma parte importante da vida de qualquer pessoa — e não apenas por uma questão de equilíbrio. Graças aos momentos prazerosos, é possível aproveitar algumas vantagens que não serão obtidas se você se mantiver preso ao trabalho o tempo todo. Divertir-se e relaxar em momentos só seus geram impactos em várias áreas da sua vida, especialmente a longo prazo. </p>
                <br><br> 
                <p>São atividades que proporcionam vários benefícios como aumentar a expectativa de vida, desenvolver novos interesses e habilidades, além de evitar problemas como estresse, transtornos psicológicos, perda de memória e algumas doenças crônicas (diabetes, hipertensão e obesidade).</p>
                <br><br>
                <p>Para um melhor entendimento separamos o lazer em duas categorias, Lazer cultural e Lazer ao ar livre.</p>
                <i><p>Clique nas imagens abaixo para saber mais.</p></i>
            </div>
            <div class="imagensLazer">
                <div>
                    <h2>Lazer ao ar livre</h2>
                    <a href="/lazerArLivre"><img class="imagem" src="../static/imagens/piquenique.jpg"></a>
                </div>
                <div>
                    <h2>Lazer cultural</h2>
                    <a href="/lazerCultural"><img class="imagem" src="../static/imagens/teatro.jpg"></a>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../static/vanilla-tilt.js"> </script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".imagem"));
    </script>
</body>
</html>