<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saúde Mental</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="subMain2">
            <div class="tituloSaudeMental"><h1>Melhore a sua saúde mental</h1></div>
            <div class="textoExercicio">
                <p>Quando falamos de "Saúde Mental" não nos referimos somente em alguns tipos de transtornos mentais, mas também como o bem-estar mental, que está relacionado ao lado emocional, psicológico e social.</p>
                <br>
                <p>Nos dias de hoje, é de suma importância termos uma boa qualidade no quesito de "Saúde Mental", pois caso ocorra de ter a ausência de tal quesito, isso pode acarretar diversos fatores que podem acabar afetando de alguma forma a vivência, não sendo mais capaz de conviver de maneira adequada, principalmente, no local de trabalho.</p>
            </div>
            <div class="Imagem_Texto">
                <div class="imagensExercicio">
                    <img class="imagemOpcoes" src="../static/imagens_saudeMental/saudeMental.jpg">
                    <img class="imagemOpcoes" src="../static/imagens_saudeMental/saudeMental2.jpg">
                </div>
                <div class="textSideImage">
                    <p>Além de não conseguir conviver de maneira adequada, as chances de surgir alguma doença são grandes e que caso não haja o devido tratamento, pode se tornar algo pior.</p>
                    <br>
                    <p>Muitas das vezes, a maioria das pessoas não levam a sério o tema de "saúde mental" por parecer "não tão importante" quanto a saúde física, entretanto, assim como a saúde física, a saúde mental é de extrema importância para o organismo porque pode apresentar os seguintes benefícios: 
                        <br><br>-Melhorar a saúde física;<br>
                        -Contribuir para ter relacionamento saudáveis;<br>
                        -Tornar-se mais produtivo em todos os cenários;<br>
                        -Melhorar seu potencial pessoal.</p>
                </div>
            </div>
            <div class="textoExercicio">
                <p>Sabendo disso, é bom sempre manter-se vigilante diante os sinais que são apresentados. Sempre que algo em nós não está certo, o nosso organismo nos envia algum tipo de sinal para que sejamos avisados sobre o que está errado. Com a mente não é diferente, quando nossa saúde mental não está nas melhores condições, é liberado uma série de sinais para nos alertar que algo está errado. Os sinais mais comuns são:
                    <br><br>-Insônia;
                    -Alterações no apetite;<br>
                    -Indisposição;<br>
                    -Fácil irritabilidade;<br>
                    -Perda no interesse nas atividades as quais antes sentia prazer;<br>
                    -Raciocínio lento (ou perda de concentração).</p>
                <br>
                <h2 class="subTituloSaudeMental">FATORES QUE INFLUENCIAM NEGATIVAMENTE NA MENTE</h2>
                <p>Não é de hoje que ouvimos falar, nem que seja uma única vez, que é sempre bom cuidarmos da nossa saúde mental. Assim como temos fatores que ajudam a mantermos uma boa qualidade da nossa saúde mental, também há os que influenciam de maneira negativa. Os mais comuns são:
                    <br><br>
                    -Transtornos do sono (ou sono desregulado);<br>
                    -Ter variações constantes de humor;<br>
                    -Sentir-se incapaz de realizar tarefas diárias.</p>
                <h2 class="subTituloSaudeMental">BONS HABITOS PARA TER UMA BOA SAUDE MENTAL	</h2>
                <p>-Ter uma boa alimentação;<br>
                    -Praticar atividades físicas;<br>
                    -Ter uma boa qualidade de sono;<br>
                    -Ter tempo reservado para lazer;<br>
                    -Realizar atividades que lhe proporcionam prazer.
                </p>
            </div>
        </div>
    </main>
    
</body>
</html>