<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Imunológico</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main> 
        <div class="subMain2">
            <div class="tituloSistemaImunologico"><h1>Fortaleça o seu sistema imunológico</h1></div>
            <div class="textoSI">
                <p>Uma alimentação saudável e hábitos saudáveis fortalecem a imunidade. O sistema imunológico é o conjunto de elementos em um organismo, cujo propósito é combater as doenças, vírus, infecções, entre outros agentes infecciosos a fim de manter o corpo saudável.</p>
            </div>
            <div class="imagensSI">
                <img class="imagemOpcoes" src="../static/imagens_SI/SI1.png">
                <img class="imagemOpcoes" src="../static/imagens_SI/SI2.png">
                <img class="imagemOpcoes" src="../static/imagens_SI/SI3.png">
            </div>
            <div class="textoSI">
                <p>Com o objetivo de ter uma alimentação saudável, é importante escolher alimentos de alto valor nutricional, como sucos naturais, saladas de frutas e verduras, além do consumo de alimentos in natura. Outro grupo de alimentos importante são os anti-inflamatórios e antimicrobianos naturais, como alho, limão, gengibre, canela, inhame, entre outros.</p>
                <br>
                <p>Além da alimentação, manter um sono regular e realizar atividades que proporcionam tranquilidade pode ser muito benéfico ao organismo, pois reduz o medo, o estresse e a ansiedade do indivíduo.</p>
            </div>
            <div class="Imagem_Texto">
                <div class="textSideImageSI">
                    <p>As pessoas também são aconselhadas a reduzir ou, se possível, até mesmo parar de consumir álcool, drogas e fumar. Além disso, evidências crescentes têm demonstrado a relação entre as doenças crônicas e o consumo de alimentos não saudáveis como os ultraprocessados.</p>
                </div>
                <img class="imagemOpcoes" src="../static/imagens_SI/NaoFume.png">
            </div>
            <div class="textoSI">
                <div class="downloadPDF_SI">
                    <p>Confira um ebook sobre como turbinar o seu sistema imunológico:</p>
                    <div class="link"><a href="../static/ebook_SI/Turbine seu sistema imunológico parte -combinado.pdf" style="font-size: 1vw;">Clique aqui</a></div>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>