<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="logoG">
                <div class="ImagemLogo"><img src="../static/imagens/logo_teste_3.png" height="80%", width="80%"/></div>
                <a class="logo" href="/">Lykke</a>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/conteudo">Conteúdo</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="subMain2">
            <h1 class="TituloSobre">Sobre</h1>
            <div class="sobreNos">
                <i>
                    <p>Somos uma empresa sem fins lucrativos de Brasília (DF) chamada Lykke fundada em junho de 2022, temos como princípal objetivo a divulgação de ações de bem-estar e outras informações que possam ser úteis aos internautas.</p>
                    <br><br>
                    <p>Lykke significa "alegria" em noruegûes, escolhemos esse nome para nossa empresa, pois todos os nossos membros buscam e desejam a felicidade e o bem-estar à todos. Queremos que as pessoas aprendam e adotem hábitos mais saudáveis em sua rotina diária. </p>
                    <br><br>
                </i>
            </div>
            <h1 class="TituloFundadores">Fundadores:</h1>
            <div class="FotosFundadores">
                <div class="foto">
                    <img class="perfil" src="../static/imagem_integrantes/leo.jpg">
                    <h2>Leonardo Fagundes</h2>
                </div>
                <div class="foto1">
                    <img class="perfil" src="../static/imagem_integrantes/gui.jpg">
                    <h2>Guilherme Lopes</h2>
                </div>
                <div class="foto2">
                    <img class="perfil" src="../static/imagem_integrantes/cecila.png">
                    <h2>Cecilia Neves</h2>
                </div>
                <div class="foto3">
                    <img class="perfil" src="../static/imagem_integrantes/vitor.jpg">
                    <h2>Vitor Castro</h2>
                </div>
                <div class="foto4">
                    <img class="perfil" src="../static/imagem_integrantes/yago.jpg">
                    <h2>Yago Caldas</h2>
                </div>
            </div>
        </div>
    </main>
    
</body>
</html>